<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="voiceCare.mapper.ClockMapper">
    
    <!--添加新提醒闹钟，insert；values取User对象的属性-->
    <insert id="save" parameterType="Clock">
        INSERT  INTO clock (user_id, time, state, comment, create_time)
        values (#{userId,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, 1,
        #{comment,jdbcType=VARCHAR},#{createTime,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="Clock">
        UPDATE clock SET time=#{time}, state=#{state}, comment=#{comment} WHERE user_id=#{userId} AND create_time=#{createTime}
    </update>

    <delete id="delete">
        DELETE FROM clock WHERE user_id=#{id} AND create_time=#{createTime}
    </delete>

    <select id="showClocks" resultType="Clock">
        SELECT * FROM clock WHERE user_id=#{userId} order by time asc
    </select>

    <update id="loginInState">
        UPDATE user SET state='1' WHERE id=#{id}
    </update>

    <update id="quitState">
        UPDATE user SET state='0' WHERE id=#{id}
    </update>

    <select id="findLoginUser" resultType="User">
        SELECT * FROM user WHERE state='1'
    </select>

    <select id="findLoginUserClock" resultType="Clock">
        SELECT * FROM clock WHERE user_id=#{id}
    </select>
</mapper>